apiVersion: v1
kind: ConfigMap
metadata:
  name: sportstix-common
  namespace: sportstix
  labels:
    app.kubernetes.io/part-of: sportstix
data:
  SPRING_PROFILES_ACTIVE: "k8s"
  SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka.sportstix.svc.cluster.local:9092"
  SPRING_DATA_REDIS_HOST: "redis.sportstix.svc.cluster.local"
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_DATASOURCE_USERNAME: "postgres"
  SPRING_JPA_OPEN_IN_VIEW: "false"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "validate"
  MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE: "health,info,prometheus"
  MANAGEMENT_ENDPOINT_HEALTH_SHOW_DETAILS: "when_authorized"
